<div class="inicio">
  <h1 class="hello-world">Olá, Mundo! Eu sou Gustavo Santos</h1>
  <div class="texto-container">
    <h2 class="titulo">Desenvolvedor FullStack em Formação</h2>
    <span class="texto"
      >Sou Gustavo Santos, 22 anos, de Gravataí/RS. Estudo na Academia do Programador e estou
      consolidando minha carreira em back-end .NET com visão de crescer para full-stack. Meu foco é
      projeto simples, contratos explícitos e testes que garantem comportamento.</span
    >
  </div>
  <ul class="card-list">
    <li class="card-item">
      <div class="card-projetos">
        <app-carrousel-projetos></app-carrousel-projetos>
      </div>
    </li>
    <li class="card-item">
      <div class="card-habilidades">
        <h3>Teste</h3>
        <p>testetetete</p>
      </div>
    </li>
    <li class="card-item">
      <div class="card-contato">
        <h3>Teste</h3>
        <p>testetetete</p>
      </div>
    </li>
  </ul>
</div>
