<div class="card">
  @if (item.tipo === 'itemProjeto') {
    <div class="teste">
      <div class="icone-olho"><i class="bi bi-eye"></i></div>
      <img class="item-img" [src]="item.urlGif === '' ? item.urlImagem : item.urlGif" alt="" />
    </div>
    @if (mostrarStack) {
      <span class="item-stack" id="stackCard">
        @for (itemStack of item.stack; track $index) {
          <img [src]="itemStack" width="35px;" />
        }
      </span>
    }
    <div class="item-textos">
      <h3 class="item-titulo">{{ item.titulo }}</h3>
    </div>
    @if (mostrarBotoes) {
      <div class="item-botoes">
        <gs-button
          [tipo]="buttonType.Default"
          [texto]="'Ver projeto'"
          [iconeBootstrap]="'bi-window-plus'"
        ></gs-button>
        <gs-button
          [tipo]="buttonType.Link"
          [texto]="'Repositório'"
          [link]="item.urlRepositorio"
          [target]="targetType.NovaGuia"
          [iconeBootstrap]="'bi-github'"
        ></gs-button>
      </div>
    }
  } @else {
    <div class="teste">
      <div class="icone-olho"><i class="bi bi-eye"></i></div>
      <img class="item-img" [src]="item.urlImagem" alt="" />
    </div>
    <div class="item-textos">
      <h3 class="item-titulo">{{ item.titulo }}</h3>
    </div>
  }
</div>
