@use '../../../variaveis' as *;

.card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-width: 350px;
  height: 100%;
  background: $superficie-destaque;
  border: $sidebar-borda-largura solid $borda;
  border-radius: 1.25rem;
  transition: $transicao-rapida;
  justify-content: space-between;

  &:hover {
    transform: scale(1.01);
  }
}

.teste {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  border-radius: 1.25rem  1.25rem 0 0;
  transition: $transicao-lenta;

  &:hover {
    background: hsla(0, 0%, 0%, 0.5);
  }

  &:hover .icone-olho {
    opacity: 1;
    transform: scale(1.25);
    cursor: pointer;
  }

  &:hover .item-img {
    opacity: 35%;
  }
}

.teste .icone-olho {
  display: flex;
  color: $texto-principal;
  position: absolute;
  opacity: 0;
  z-index: 1;
  transition: $transicao;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-size: larger;
  text-shadow: 0 0 5px $primaria, 0 0 10px $primaria, 0 0 15px $primaria;
}

.item-img {
  display: block;
  width: 100%;
  color: transparent;
  transition: $transicao-lenta;
}

.item-link {
  text-decoration: none;
  color: $texto-principal;
}

.item-stack {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 4px;
  margin-top: 6px;
  justify-content: center;
}

.item-textos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-titulo {
  font-size: 1.15rem;
  text-align: center;
}

.item-botoes {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 10px;
  gap: 0.5rem;
}

.projetos-botao > a > span {
  font-size: 1.25rem;
}
