@use '../../../variaveis' as *;

.navbar {
  display: flex;
  flex-direction: row;
  gap: 5rem;
  list-style-type: none;
  padding-bottom: 0.5rem;
  box-shadow: 0px 3px 2px -2px rgba(207, 207, 207, 0.753);
  padding-left: 0;
  padding-right: 0;
  justify-content: space-evenly;
}

.nav-item {
  font-size: larger;
  font-weight: bold;
}

.nav-link {
  color: $branco;
  text-decoration: none;
  transition: $transicao;

  &:hover {
    color: $hover;
  text-shadow:
      0 0 1px $pagina-ativa-sombra,
      0 0 2px $pagina-ativa-sombra,
      0 0 2px $pagina-ativa-sombra;
  }
}

.pagina-atual {
  color: $pagina-ativa;
  text-shadow:
      0 0 1px $pagina-ativa-sombra,
      0 0 2px $pagina-ativa-sombra,
      0 0 2px $pagina-ativa-sombra;
}

@media (max-width: 1220px) {
  .navbar {
    flex-wrap: wrap;
    gap: 0.75rem;
    padding: 0 0 8px 0;
    justify-content: center;
  }
}

@media (max-width: 1024px) {
  .navbar {
    flex-wrap: wrap;
    gap: 0.75rem;
    padding: 0 0 8px 0;
    justify-content: center;
  }
  .nav-item {
    font-size: 1rem;
  }
}

@media (max-width: 425px) {
  .navbar {
    flex-wrap: wrap;
    gap: 0.75rem;
    padding: 0 0 8px 0;
    justify-content: center;
  }
  .nav-item {
    font-size: 1rem;
  }
}
