@use '../../../variaveis' as *;

.navbar {
  display: flex;
  flex-direction: row;
  gap: 5rem;
  list-style-type: none;
  padding-bottom: 0.5rem;
  box-shadow: 0px 3px 2px -2px rgba(207, 207, 207, 0.753);
  padding-left: auto;
  padding-right: auto;
  justify-content: space-evenly;
}

.nav-item {
  font-size: larger;
  font-weight: bold;
}

.nav-link {
  color: $branco;
  text-decoration: none;
  transition: $transicao;

  &:hover {
    color: $hover;
  }
}
