<ul class="navbar">
  <li class="nav-item"><a class="nav-link" routerLink="/sobre-mim" routerLinkActive="pagina-atual">Sobre Mim</a></li>
  <li class="nav-item"><a class="nav-link" routerLink="/certificados" routerLinkActive="pagina-atual">Certificados</a></li>
  <li class="nav-item"><a class="nav-link" routerLink="/habilidades" routerLinkActive="pagina-atual">Habilidades</a></li>
  <li class="nav-item"><a class="nav-link" routerLink="/projetos" routerLinkActive="pagina-atual">Projetos</a></li>
</ul>
