<div class="sobre-mim">
  <div class="textos">
    <h1 class="titulo">Olá, Mundo! Eu sou Gustavo Santos</h1>
    <div class="texto-container">
      <h2 class="sub-titulo">Desenvolvedor FullStack .NET & Angular</h2>
      <span class="texto">
        Graduado pela
        <a href="https://academiadoprogramador.net/" target="_blank">Academia do Programador.</a>
        Foco na construção de aplicações escaláveis e seguras, unindo a robustez do .NET à
        reatividade moderna do Angular. Dedicado na entrega de código limpo, seguro e performático,
        do banco de dados à interface do usuário.
      </span>
    </div>
  </div>
  <hr class="barra" />
  <section class="projetos-principais">
    <div class="projetos-titulo">
      <h1>Projetos Principais</h1>
    </div>
    <div class="projetos-itens">
      @for (item of itensProjetos.slice(0, 3); track $index) {
        <gs-card
          [item]="item"
          [mostrarStack]="false"
          [mostrarBotoes]="false"
          (visualizarItemProjeto)="aoVisualizarItemProjeto($event)"
        ></gs-card>
      }
    </div>
    <div class="projetos-botao">
      <gs-buttons
        [buttonType]="tipoBotao.Link"
        text="Veja mais projetos"
        [link]="'/projetos'"
        [target]="tipoGuia.SameTab"
        iconeBootstrap="bi-folder-symlink-fill"
        [variant]="variante.Outline"
      ></gs-buttons>
    </div>
  </section>
  <hr class="barra" />
</div>

@if (estaModalAberta && itemProjetoSelecionado) {
  <gs-modal
    [isOpen]="estaModalAberta"
    [itemProjeto]="itemProjetoSelecionado"
    (closed)="aoFecharModal()"
  ></gs-modal>
}
