<div class="sobre-mim">
  <div class="textos">
    <h1 class="titulo">Olá, Mundo! Eu sou Gustavo Santos</h1>
    <div class="texto-container">
      <h2 class="sub-titulo">Desenvolvedor FullStack em Formação</h2>
      <span class="texto"
        >Estudante da
        <a href="https://academiadoprogramador.net/" target="_blank"
          >Academia do Programador 2025.</a
        >
        Atualmente, estou consolidando minha carreira em back-end .NET com a visão de me tornar um
        especialista full-stack, aplicando as melhores práticas para construir soluções robustas e
        eficientes.</span
      >
    </div>
  </div>
  <hr class="barra" />
  <section class="projetos-principais">
    <div class="projetos-titulo">
      <h1>Projetos Principais</h1>
    </div>
    <div class="projetos-itens">
      <ul class="lista-projetos">
        <li class="lista-item">
          <a class="lista-item-link" href="">
            <img class="lista-item-img" src="https://i.imgur.com/eKoM8DM.gif" alt="" />
            <div class="lista-item-textos">
              <h3>Gerador de Testes</h3>
            </div>
          </a>
        </li>
        <li class="lista-item">
          <a class="lista-item-link" href="">
            <img class="lista-item-img" src="https://i.imgur.com/tIFABjc.gif" alt="" />
            <div class="lista-item-textos">
              <h3>Web API Multi-Tenant</h3>
            </div>
          </a>
        </li>
        <li class="lista-item">
          <a class="lista-item-link" href="">
            <img
              class="lista-item-img"
              src="https://placehold.co/1200x800?text=Em Desenvolvimento"
              alt=""
            />
            <div class="lista-item-textos">
              <h3>Frontend em Angular</h3>
            </div>
          </a>
        </li>
      </ul>
    </div>
    <div class="projetos-botao">
      <a routerLink="/projetos" class="botao"><span>Veja mais projetos</span></a>
    </div>
  </section>
  <hr class="barra" />
</div>
