<div class="inicio">
  <h1 class="titulo">Olá, Mundo! Eu sou Gustavo Santos</h1>
  <div class="texto-container">
    <h2 class="sub-titulo">Desenvolvedor FullStack em Formação</h2>
    <span class="texto"
      >Estudante da
      <a href="https://academiadoprogramador.net/" target="_blank">Academia do Programador 2025.</a>
      Atualmente, estou consolidando minha carreira em back-end .NET com a visão de me tornar um
      especialista full-stack, aplicando as melhores práticas para construir soluções robustas e
      eficientes.</span
    >
  </div>
  <section class="projetos-principais">
    <div class="projetos-titulo">
      <h1>teste</h1>
    </div>
    <div class="projetos-titulo">
      <h1>teste</h1>
    </div>
    <div class="projetos-titulo">
      <button class="botao"></button>
    </div>
  </section>
</div>
