@use '../../../variaveis' as *;

.projetos-titulo {
  display: flex;
  align-items: center;
  gap: 20px;
}

.projetos-itens {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-bottom: 10px;
  list-style-type: none;
  padding-inline-start: 0;
}

@media (max-width: 768px) {
  .projetos-itens {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 425px) {
  .projetos-itens {
    grid-template-columns: repeat(1, 1fr);
  }
}
