@use '../../../variaveis' as *;

.projetos-titulo {
  display: flex;
  align-items: center;
  gap: 20px;
}

.lista {
  grid-template-columns: repeat(2, 1fr);
}

.lista-item-titulo {
  font-size: 1.45rem;
}
