@use '../../../variaveis' as *;

.certificados-titulo {
  display: flex;
  align-items: center;
  gap: 20px;
}

.certificados-titulo .bi-box-arrow-up-right {
  text-decoration: none;
  color: $branco;

  &:hover {
    color: $hover;
  }
}
