<div class="modal" [class.aberto]="isOpen">
  <div class="modal-header">
    <h5 class="modal-title">{{ itemProjeto?.titulo ?? certificado!.titulo }}</h5>
    <span class="modal-close" (click)="requestClose()"><i class="bi bi-x-circle"></i></span>
  </div>
  <div class="modal-content">
    @if (itemProjeto) {
      <img
        class="item-projeto-img"
        [src]="itemProjeto!.urlGif === '' ? itemProjeto!.urlImagem : itemProjeto!.urlGif"
        alt="Imagem do {{ itemProjeto!.titulo }}"
      />

      <span class="item-projeto-stack">
        @for (itemStack of itemProjeto!.stack; track $index) {
          <img [src]="itemStack" width="35px;" />
        }
      </span>

      <p>{{ itemProjeto!.descricao }}</p>
      <gs-buttons
        [tipo]="tipoBotao.Link"
        texto="Ver projeto"
        [link]="itemProjeto!.urlRepositorio"
        [target]="tipoGuia.NovaGuia"
        iconeBootstrap="bi-github"
        [variant]="variante.Outline"
      ></gs-buttons>
    } @else if (certificado) {
      <img
        class="certificado-img"
        [src]="certificado.urlImagem"
        alt="Imagem do {{ certificado!.titulo }}"
      />
    }
  </div>
</div>

<div class="modal-backdrop" (click)="requestClose()"></div>
