@use 'bootstrap';

.carousel-inner,
.carousel-item {
  overflow: hidden;
  max-width: 350px;
  height: 460px;
}

.carousel-item > img {
  display: block;
  width: 100%;
}

.carousel-item-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 5px 5px 5px;
  text-align: center;
}

.btnRepositorio {
    display: flex;
}
