@use '../variaveis' as *;

.main {
  display: flex;
  margin-inline: auto;
  justify-content: center;
  height: 100%;
}

.teste {
  display: flex;
  gap: 1.25rem;
  margin-top: auto;
  margin-bottom: auto;
}

.card {
  color: $branco-1;
  background: $fundo-2;
  border: 1px solid $borda-1;
  border-radius: 0.62rem;
  padding: 0.94rem;
  box-shadow: $sombra-1;
  width: 50rem;
  height: 50rem;
}
