@use '../variaveis' as *;

.main {
  display: flex;
  margin-inline: auto;
  justify-content: center;
  height: 100%;
}

.teste {
  display: flex;
  gap: 1.25rem;
  margin-top: auto;
  margin-bottom: auto;
}

.card {
  color: $branco;
  background: $superficie;
  border: 1px solid $borda;
  border-radius: 0.62rem;
  padding: 0.94rem 2rem;
  box-shadow: $sombra;
  width: 50rem;
  height: 50rem;
}
