<div class="sidebar-container">
  <aside class="sidebar">
    <figure class="img-avatar">
      <img src="my-avatar.png" alt="Gustavo Santos" width="90" />
    </figure>
    <div class="sobremim">
      <div class="nome">
        <span title="Gustavo Santos">Gustavo Santos</span>
      </div>
    </div>
    <div class="contato">
      <div class="contato-infos">
        <p class="titulo-contato">CONTATO</p>
        <div class="numero-contato">
          <div class="icone-telefone">
            <i class="bi bi-telephone"></i>
          </div>
          <span>(51) 9 9661-6244</span>
        </div>
        <div class="email-contato">
          <div class="icone-email">
            <i class="bi bi-envelope-at"></i>
          </div>
          <span>gustavocnsantos02&#64;gmail.com</span>
        </div>
        <div class="local-contato">
          <div class="icone-local">
            <i class="bi bi-pin-map"></i>
          </div>
          <span>Gravataí - RS - Brasil</span>
        </div>
        <div class="social-contato">
          <a target="_blank" href="https://www.github.com/gsvsantos">
            <i class="bi bi-github"></i>
          </a>
          <a target="_blank" href="https://www.linkedin.com/in/gsvsantos/">
            <i class="bi bi-linkedin"></i>
          </a>
          <a target="_blank" href="https://api.whatsapp.com/send?phone=5551996616244">
            <i class="bi bi-whatsapp"></i>
          </a>
        </div>
      </div>
    </div>
  </aside>
</div>
