    <div>
        <aside class="sidebar">
            <figure class="img-avatar">
                <img src="eu.png" alt="Gustavo Santos" width="80">
            </figure>
            <div class="sobremim">
                <div class="nome">
                    <span title="Gustavo Santos">Gustavo Santos</span>
                </div>
                <div class="texto-sobremim">
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam saepe cumque alias, amet, quos praesentium rerum consequuntur.</span>
                </div>
            </div>
            <div class="contato">
                <div>
                    <p class="titulo-contato">
                        CONTATO
                    </p>
                    <p>(51) 9 9661-6244</p>
                    <p>@gsvsantos</p>
                    <p>gustavocnsantos02@gmail.com</p>
                </div>
            </div>
        </aside>
    </div>