@use 'bootstrap-icons';
@use './variaveis' as *;
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Boogaloo&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background-color: $fundo-1;
  height: 100vh;
}

h1 {
  font-family: 'Bebas Neue', sans-serif;
}

h2 {
  font-family: 'Boogaloo', sans-serif;
}