@use 'bootstrap-icons';
@use './variaveis' as *;
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Boogaloo&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


body {
  font-family: "Comic Relief", system-ui;
  background-color: $fundo-1;
  height: 100dvb;
}

h1 {
  font-family: 'Roboto Slab', sans-serif;
}

h2 {
  font-family: 'Roboto Slab', sans-serif;
}